@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
/* General style for all start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
/* General style for all end */

/* Navbar section style start */
.menu > li,
a {
  list-style: none;
  text-decoration: none;
}
.logo {
  display: flex;
  align-items: center;
}
.navbar {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.logo > h2 {
  color: #131318;
  font-size: 2.1rem;
  font-weight: 800;
}
.logo > .primary-name > .special {
  color: #ff5400;
  font-size: 2.1rem;
  font-weight: 800;
}
.nav-links a {
  color: #424247;
  font-size: 1.2rem;
  font-weight: 400;
}
.menu > .home > a {
  color: #ff5400;
  font-size: 1.2rem;
  font-weight: 700;
}
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li a:hover {
  
  color: #ff5400;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}
input[type="checkbox"] {
  display: none;
}
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* Navbar section style end */

/* Banner section Start */
.banner {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 106px 0;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.banner-container {
  width: 58%;
  max-width: 676px;
  margin: 0 auto;
  text-align: center;
}
.banner-container h1 {
  color: #fff;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}
.banner-container p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}
.search-bar {
  width: 68%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.search-bar input {
  width: 170px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  padding: 16px;
  border-radius: 8px;
  background: #fff;
  border: none;
  outline: none;
}
.search-bar option,
select {
  width: 170px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  padding: 16px;
  border-radius: 8px;
  background: #fff;
  border: none;
  outline: none;
}
.search-bar .btn-primary {
  width: 170px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
  background: #ff5400;
  padding: 16px;
  border: none;
  cursor: pointer;
}
.search-bar .btn-primary:hover {
  color: #fff;
  background-color: #00ff7be9;
  padding: 10px 20px;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
/* Banner section end */

/*  */
.feature {
  width: 81%;
  max-width: 1170px;
  margin: 5.2rem auto 8.1rem;
  display: flex;
  align-items: center;
}
.feature-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  width: 60%;
}
.feature-img > a > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: transform 0.7s ease-in-out;
}

.feature-img > a > .hover1:hover {
  transform: rotate(20deg);
  border: 2px solid rgba(0, 0, 0, 0.977);
}
.feature-img > a > .hover2:hover {
  transform: rotate(-20deg);
  border: 2px solid rgba(0, 0, 0, 0.977);
}
.feature-img > a > .hover3:hover {
  transform: rotate(20deg);
  border: 2px solid rgba(0, 0, 0, 0.977);
}
.feature-img > a > .hover4:hover {
  transform: rotate(-20deg);
  border: 2px solid rgba(0, 0, 0, 0.977);
}
.feature-content {
  padding-left: 70px;
  /* padding-right: 70px; */
  width: 40%;
}
.feature-content > .feature-title {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
}
.feature-content > .feature-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.our {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.special {
  color: #ff900e;
  font-size: 2.8rem;
  font-weight: 700;
}
.feature-content button {
  padding: 14px 35px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  cursor: pointer;
}
.feature-content button:hover {
  color: #fff;
  background-color: #00ff7be9;
  padding: 10px 20px;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*  */

.tour {
  width: 81%;
  max-width: 1170px;
  margin: 100px auto 0;
}
.tour-container {
  display: flex;
  align-items: center;
}
.tour-content {
  width: 50%;
}
.tour-img {
  width: 50%;
}
.tour-img img {
  width: 100%;
  height: 100%;
}
.tour-content .tour-section-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.tour-content .tour-section-description1 {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 24px;
}
.tour-content .list-content {
  padding: 0 20px;
  margin-bottom: 24px;
}
.tour-content .list-content .list-item li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 16px;
}
.tour-content button {
  padding: 14px 35px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
  border: none;
}
.tour-content button:hover {
  color: #fff;
  background-color: #00ff7be9;
  padding: 10px 20px;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
/*  */
.destination {
  width: 81%;
  max-width: 1170px;
  margin: 100px auto 48px;
  text-align: center;
}
.destination .destination-section-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.destination .destination-section-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.country-collage-container {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto 100px;
}

.collage-imgs .row1 {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.collage-imgs p {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 800;
}
.row1 > .img1 > img {
  width: 100%;
}
.row1 > .img2 > img {
  width: 100%;
}
.img1 {
  width: 573px;
  height: 300px;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), url("../Images/maldivs.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.img2 {
  width: 573px;
  height: 300px;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), url("../Images/indonesia.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.row2 > .img3 > img {
  width: 100%;
}
.row2 > .img4 > img {
  width: 100%;
}
.row2 > .img5 > img {
  width: 100%;
}
.row2 {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.img3 {
  width: 374px;
  height: 286px;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), url("../Images/srilanka.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.img4 {
  width: 474px;
  height: 286px;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), url("../Images/amerika.png");
  background: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.img5 {
  width: 274px;
  height: 286px;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), url("../Images/kashmir.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.row3 {
  display: flex;
  gap: 24px;
}
.row3 > .img6 > img {
  width: 100%;
}
.row3 > .img7 > img {
  width: 100%;
}
.img6 {
  width: 474px;
  height: 300px;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), url("../Images/bangladesh.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.img7 {
  width: 674px;
  height: 300px;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), url("../Images/bandarban.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.choice {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto;
}
.choice-sec-content {
  width: 55%;
  max-width: 643px;
  margin: 0 auto 48px;
  text-align: center;
}
.choice-sec-content .choice-sec-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.choice-sec-content .choice-sec-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.features-sec-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 16px;
}
.features-description {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.hotels {
  width: 573px;
  padding: 32px;
  border-radius: 16px;
  border: 2px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.hotels > img {
  margin-bottom: 32px;
}
.services {
  width: 573px;
  padding: 32px;
  border-radius: 16px;
  border: 2px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.services > img {
  margin-bottom: 32px;
}
.prices {
  width: 573px;
  padding: 32px;
  border-radius: 16px;
  border: 2px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.prices > img {
  margin-bottom: 32px;
}

/* Deals and discount section */
.deals-sec-content {
  width: 45%;
  max-width: 640px;
  margin: 100px auto 48px;
  text-align: center;
}
.deals-sec-content h2 {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.deals-sec-content p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.deals {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto 24px;
  background-image: url("../Images/deals.png");
  padding: 55px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}
.deals-container {
  display: flex;
  justify-content: flex-end;
}
.sideword p {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
}
.icon-title1 {
  display: flex;
  gap: 8px;
}
.icon-title2 {
  display: flex;
  gap: 8px;
}
.icon-title3 {
  display: flex;
  gap: 8px;
}
.icon-title {
  display: flex;
  gap: 24px;
  margin-bottom: 26px;
  flex-wrap: wrap;
}
.deals-content h3 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 16px;
}
.deals-content p {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}
.deals-content h4 {
  color: #ff5400;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.deals-content button {
  padding: 14px 24px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  outline: none;
  cursor: pointer;
}
.deals-content button:hover {
  color: #fff;
  background-color: #00ff7be9;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
.deals-content {
  width: 50%;
  max-width: 580px;
  padding: 50px;
  border-radius: 16px;
  border: 2px solid #cb5757;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.deals-middle {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto 24px;
  background-image: url("../Images/deals2.png");
  padding: 55px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}
.deals-container-middle {
  display: flex;
  justify-content: flex-start;
}
.deals-footer-btn{
  width:81%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.deals-bton {
  padding: 14px 24px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  outline: none;
  cursor: pointer;
}
.deals-bton:hover {
  color: #fff;
  background-color: #00ff7be9;
  padding: 10px 20px;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
.place {
  width: 81%;
  max-width: 1170px;
  margin: 100px auto 100px;
}
.place-container {
  display: flex;
  gap: 20px;
}
.place-content {
  width: 50%;
  height: 100%;
}
.poster-img-content {
  width: 50%;
  height: 100%;
  position: relative;
}
.poster-img-content video {
  width: 100%;
}

.text{
  color: #FFF;
font-size: 1.5rem;
font-weight: 700;
line-height: 36px; /* 150% */
}
.poster-text .text{
  position: absolute;
  bottom: 50%;
  left: 26%;
}

.place-content .place-sec-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 60px;
  margin-bottom: 24px;
}
.place-content .place-sec-description {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}
.place-content .description-list {
  color: #131318;
  font-size: 1rem;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 32px;
  padding-left: 20px;
}
.place-content button {
  padding: 14px 35px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
  border: none;
}
.place-content button:hover {
  color: #fff;
  background-color: #00ff7be9;
  padding: 10px 20px;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
.newsletter {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto;
}
.newsletter-container {
  display: flex;
  gap: 24px;
  align-items: center;
}
.newsletter-content {
  width: 40%;
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.newsletter-image {
  width: 60%;
  position: relative;
}
.newsletter-image img {
  width: 100%;
  height: 100%;
}
.newsletter-content .newsletter-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
.newsletter-content h2 {
  margin-bottom: 16px;
}
.newsletter-content .newsletter-description {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}
.rular1 {
  margin-bottom: 24px;
}
.newsletter-content .sign-form {
  display: flex;
  flex-direction: column;
}
.newsletter-content .sign-form input {
  padding: 16px 20px;
  margin-bottom: 24px;
  border: none;
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}
.newsletter-content .sign-form button {
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  cursor: pointer;
}
.newsletter-content .sign-form button:hover {
  color: #fff;
  background-color: #ff0400e9;
  padding: 20px 30px;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
.discount {
  width: 324px;
  padding: 20px;
  border-radius: 16px;
  background: #ff5400;
  text-align: center;
  transform: rotate(-19.628deg);
  position: absolute;
  /* bottom: 55px;
left: 360px; */
  right: 1%;
  bottom: 12%;
}
.discount p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}
.discount h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}
footer {
  background: rgba(19, 19, 24, 0.05);
  margin-top: 100px;
}
.footer-content {
  width: 65%;
  max-width: 760px;
  margin: 0 auto;
  text-align: center;
  padding: 130px 0;
}
.logo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.logo2 > h2 {
  color: #131318;
  font-size: 2.1rem;
  font-weight: 800;
}
.logo2 > .primary-name > .special {
  color: #ff5400;
  font-size: 2.1rem;
  font-weight: 800;
}
.rular2 {
  margin: 50px 0;
}
.footer-description {
  margin-bottom: 33px;
}
.fa-brands {
  margin-right: 10px;
}
/* Responsive section is start here */
@media screen and (max-width: 600px) {
  .navbar {
    width: 100%;
  }
  .logo h2 {
    font-size: 1.5rem;
  }
  .logo > .primary-name > .special {
    font-size: 1.5rem;
  }
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .tour {
    width: 100%;
  }
  .tour-container {
    flex-direction: column;
  }
  .tour-content {
    width: 100%;
    padding: 20px;
  }
  .tour-img {
    width: 100%;
    padding: 20px;
  }
  .country-collage-container {
    width: 100%;
  }

  .row1 {
    /* width: 100%; */
    flex-direction: column;
    margin: 0;
    padding: 20px;
  }
  .row2 {
    /* width: 100%; */
    flex-direction: column;
    margin: 0;
    padding: 20px;
  }
  .row3 {
    /* width: 100%; */
    flex-direction: column;
    margin: 0;
    padding: 20px;
  }
  .img1 {
    width: 100%;
  }
  .img2 {
    width: 100%;
  }
  .img3 {
    width: 100%;
  }
  .img4 {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img5 {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    /* background-size:cover; */
    /* background-position: bottom; */
  }
  .img6 {
    width: 100%;
  }
  .img7 {
    width: 100%;
  }
  .choice-sec-content {
    width: 100%;
  }
  .place {
    width: 100%;
    padding: 20px;
  }
  .place-container {
    flex-direction: column;
    gap: 0;
  }
  .place-content {
    width: 100%;
  }
  .poster-img-content {
    width: 100%;
  }
  .poster-img-content video {
    width: 100%;
  }
  
  .newsletter {
    width: 100%;
    padding: 20px;
  }
  .newsletter-container {
    flex-direction: column;
  }
  .newsletter-content {
    width: 100%;
  }
  .newsletter-image {
    width: 100%;
  }
  .banner {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .banner-container {
    width: 100%;
  }
  .search-bar {
    width: 50%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .newsletter-image {
    position: relative;
  }
  .discount {
    position: absolute;
    padding: 10px;
    width: 200px;
    font-size: 1rem;
    /* right:20px; */
  }
  .discount p {
    font-size: 1rem;
  }
  .discount h2 {
    font-size: 1.5rem;
  }

  .feature {
    width: 100;
    /* padding: 20px; */
    flex-direction: column;
  }
  .feature-img {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .feature-content {
    width: 100%;
    padding: 0;
    margin-top: 20px;
    text-align: center;
  }
  .deals-sec-content {
    width: 100%;
    padding: 20px;
  }
  .deals {
    width: 100%;
    padding: 180px 16px 16px 16px;
  }
  .deals-middle {
    width: 100%;
    padding: 180px 16px 16px 16px;
  }
  .deals-content {
    width: 100%;
    padding: 20px;
  }
  .deals-container {
    justify-content: center;
    align-items: end;
  }
  .deals-container-middle {
    justify-content: center;
  }
  .dd-sec1,
  .dd-sec2,
  .dd-sec3 {
    padding: 20px;
  }
}
